:root {
    --color-main-text: #212121;
    --color-sec-text: #757575;
    --color-third-text: #FFF;
    --color-accent: #2196F3;
    --color-background: #2F303A;
    --trans-dur: 250ms;
    --trans-time-func: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    font-family: Roboto, Verdana, Tahoma, sans-serif;
    color: var(--color-main-text);
}
ul,h1,h2,h3,p {
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
    transition: color var(--trans-dur) var(--trans-time-func);
}
.link:hover,
.link:focus { 
    color: var(--color-accent);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.list {
    list-style-type: none;
}

.button {
    width: 200px;
    height: 50px;
    background: var(--color-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-third-text);
    line-height: 1.87;
    letter-spacing: 0.06em;
}

/* ------------- секция заголовка ------------- */
.header {
    border-bottom: 1px solid #ECECEC; 
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav {
    display: flex;
    align-items: center;
}
.logo {
    font: 700 26px Raleway, sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-decoration: none;
    color: var(--color-accent);
}
.logo__studio {
    color: #000000;
}

.nav-list {
    display: flex;
    margin-left: 93px;
}
.nav-list__item {
    list-style-type: none;
}
.nav-list__item:not(:last-child) {
    margin-right: 50px;
}

.nav-list__link, 
.contacts-list__link {
    padding: 32px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-main-text);
}
.nav-list__link--current {
    position: relative;
    color: var(--color-accent);
}
.nav-list__link--current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--color-accent);
    border-radius: 2px;
}

.contacts-list {
    display: flex;
    list-style: none;
}
.contacts-list__item:not(:last-child) {
    margin-right: 30px;
}

.contacts-list__link {
    color: var(--color-sec-text);
    display: flex;
    align-items: center;
}
.contacts-list__icon {
    margin-right: 10px;
    fill: currentColor;
}

/* ------------- нижний колонтитул ------------- */
.footer {
    background-color: var(--color-background);
    padding: 60px 0;
}

.footer__container {
    display: flex;
}

.logo__studio--white-color {
    color: var(--color-third-text);
}

.address-list {
    margin-top: 20px;
}

.address-list__item {
    list-style-type: none;
    height: 21px;
}

.address-list__item:not(:last-child) {
    margin-bottom: 9px;
}

.address-list__link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.address-list__link--white-color {
    color: var(--color-third-text);
}
.social-links {
    margin-top: 15px;
    margin-left: 70px;
}
.social-links__slogan,
.subscribe-form__slogan {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-third-text);
}
.social-list {
    display: inline-flex;
}
.social-list__item:not(:last-child) {
    margin-right: 10px;
}
.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
    fill: currentColor;

    transition: background-color var(--trans-dur) var(--trans-time-func),
                color var(--trans-dur) var(--trans-time-func);
}
.social-list__link--dark-bg {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFF;
}

.social-list__link:hover,
.social-list__link:focus {
    background-color: var(--color-accent);
    color: #FFF;
}

.subscribe-form {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 15px;
    
}

.subscribe-form__field {
    display: flex;
    flex-direction: column;
}

.subscribe-form__input {
    padding: 14px 15px;
    width: 358px;
    background-color: var(--color-background);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.25;
    color: var(--color-third-text);
    outline: none;

    transition: border-color var(--trans-dur) var(--trans-time-func);
}
.subscribe-form__input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input:focus {
    border-color: var(--color-accent);
}

.subscribe-form__submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}
.subscribe-form__btn-icon {
    margin-left: 10px;
}

    /* ----------- герой ------------ */
.hero-section {
    margin: 0 auto;
    padding: 200px 0;
    max-width: 1600px;
    text-align: center;   
    background-color: #C4C4C4;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
                      url(../images/hero_bg.jpg);
    background-position: center;

    
}
.hero-section__slogan {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-third-text);
}

/* ----------- особенности ------------ */
.features-section {
    padding: 94px 0 47px;
}
.features-list {
    display: flex;
}
.features-list__item {
    width: calc((100%-90)/4);
}
.features-list__item:not(:last-child) {
    margin-right: 30px;
}
.features-list__icon-wrap {
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-list__icon {
    width: 70px;
    height: 70px;
}
.features-list__feature {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px; 
}
.features-list__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-sec-text);
}
/* ----------- чем мы занимаемся ------- */
.services {
    padding: 47px 0 94px;
    text-align: center;
}
.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-main-text);
}
.services-list {
    display: flex;
}
.services-list__item:not(:last-child) {
    margin-right: 30px;
}
.services-list__link {
    position: relative;
    display: block;
    text-decoration: none;
}
.services-list__image {
    display: block;
}
.services-list__name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 27px 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;   
    color: var(--color-third-text);
}
/* ------------ наша команда ------------ */
.team-section {
    background: #F5F4FA;
    padding: 94px 0;
    text-align: center;
}
.team-list {
    display: flex;
}
.team-list__item {
    width: 270px;
    padding-bottom: 30px;
    background: #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list__item:not(:last-child) {
    margin-right: 30px;
}
.team-list__photo {
    display: block;
    margin-bottom: 30px;
}
.team-list__name{
    margin-bottom: 10px;
}
.team-list__name,
.team-list__position {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.team-list__position {
  margin-bottom: 16px;
  font-weight: 400;
  color: var(--color-sec-text);
  
}


/* ------------- постоянные клиенты ------------- */
.clients-section {
    padding: 94px 0;
    text-align: center;
}
.clients-list {
    display: flex;
}
.clients-list__item {
    display: flex;
    justify-content: center;
}
.clients-list__item:not(:last-child) {
    margin-right: 30px;
}
.clients-list__link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition: border-color var(--trans-dur) var(--trans-time-func),
    color var(--trans-dur) var(--trans-time-func);
}
.clients-list__link:hover,
.clients-list__link:focus {
    border-color: var(--color-accent);
    color: var(--color-accent);
}
.clients-list__logo {
    display: block;
    margin: auto;
    fill: currentColor;
}

/* ------------- модальное окно --------------- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    transition: opacity var(--trans-dur) var(--trans-time-func),
    visibility var(--trans-dur) var(--trans-time-func);
}

.backdrop--is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop--is-hidden .backdrop__modal {
    transform: translate(-50%,-50%) scale(0.8);
}

.backdrop__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);

    padding: 40px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--trans-dur) var(--trans-time-func);
}

.backdrop__modal-close {
    position: absolute;
    top: 8px;
    right: 8px;

    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: color var(--trans-dur) var(--trans-time-func);
}
.backdrop__modal-close:hover,
.backdrop__modal-close:focus {
    color: var(--color-accent);
}

.backdrop__modal-icon {
    fill: currentColor;
}


.backdrop__modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}

.pers-data__field {
    display: flex;
    flex-direction: column;
}

.pers-data__field {
    margin-bottom: 10px;
    text-align: left;
    cursor: pointer;
}

.pers-data__field-lable {
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--color-sec-text);
}

.pers-data__input-cont {
    position: relative;
    display: block;

    transition: color var(--trans-dur) var(--trans-time-func);
}

.pers-data__input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: currentColor;
}

.pers-data__input-cont:focus-within {
    color: var(--color-accent);
}

.pers-data__input {
    width: 448px;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    transition: border-color var(--trans-dur) var(--trans-time-func);
}
.pers-data__input:focus {
    border-color: var(--color-accent);
}

.pers-data__input--textarea {
    height: 120px;   
    padding: 12px 16px;
    resize: none;
}
.pers-data__input--textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.pers-data__agreement-field {
    position: relative;
    display: inline-block;
    margin: 20px 0 30px;
    padding-left: 24px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-sec-text);
}

.pers-data__checkbox-unchecked {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--color-main-text);
    border-radius: 2px;
}
.pers-data__checkbox-checked {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
    background-color: var(--color-accent);
    border: 1px solid transparent;
    border-radius: 2px;
    opacity: 0;

    transition: opacity var(--trans-dur) var(--trans-time-func);
}
.pers-data__agreement-checkbox:checked~.pers-data__checkbox-checked {
    opacity: 1;
}


.pers-data__agreement-link {
    color: var(--color-accent);
}

/* ------------- секция портфолио ------------- */
.portfolio-section {
    text-align: center;
    padding: 94px 0;
}

.buttons-filter {
    display: inline-flex;
    margin-bottom: 50px;
}
.buttons-filter__item {
    list-style-type: none;
}
.buttons-filter__item:not(:last-child) {
    margin-right: 8px;
}
.buttons-filter__btn {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-main-text);
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;

    transition: color var(--trans-dur) var(--trans-time-func),
    background-color var(--trans-dur) var(--trans-time-func),
    box-shadow var(--trans-dur) var(--trans-time-func);
}

.buttons-filter__btn:hover,
.buttons-filter__btn:focus {
    color: var(--color-third-text);
    background-color: var(--color-accent);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-list__item {
    list-style-type: none;
    transition: box-shadow var(--trans-dur) var(--trans-time-func);
}
.projects-list__item:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-list__item:hover .portf-card-text {
    transform: translateY(-100%);
}
.projects-list__item:not(:nth-child(3n+3)) {
    margin-right: 30px;
}
.projects-list__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.projects-list__container {
    position: relative;
    overflow: hidden;
}
.projects-list__image {
    display: block;
}
.projects-list__description {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--color-third-text);

    transition: transform var(--trans-dur) var(--trans-time-func);
}


.projects-list__name-cont {
    padding: 20px 24px;
    text-align: left;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.projects-list__title {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects-list__type {
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--color-sec-text);
}



