.logo {
    font: 700 26px $font-raleway;
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-decoration: none;
    color: $color-accent;
}

.logo__studio {
    color: #000000;

    &--white-color {
        color: $color-third-text;
    }
}

